.my-btn {
	background-color: #5CA8FF;
	border-color: #5CA8FF;
	height:40px;
}
.my-btn:hover {
	background-color: #137BF2;
}


.smallPicture {
	width: 25%;
} 

.mediumPicture {
	width: 33%;
} 

.largePicture {
	width: 50%;
} 

.picture-div {
	width: 100%;
	height: 200px;
}

.caption1 {
	width: 100%;
	height: 30px;
	text-align: center;
}

.thumbnail {
	height: auto;
}

.put-to-cart {

	min-width: 250px;
	display: none;
	background-color: #5CA8FF;
	position: absolute;
	height: 25%;
	width: 65%;
	bottom: 25%;
	right:0px;
	z-index: 100;
}

.aaa:active span{
	color:lightgray;
}


.add-to-cart {
	color: white;
	position: absolute;
	font-size: 2em;
	bottom:25px;
	right: 20px;
}

 .glyphicon-shopping-cart{

	
	opacity: 0.9;
	font-size: 4em;
	text-align: center;
	color: white;
	top:5px;
	left: 10px;
}

.thumbnail:hover .put-to-cart{
	display: block;
}

.go-to-cart span{
	opacity: 1;
	font-size: 1.5em;
}

.available {
	color: white;
	position: absolute;
	font-size: 1.2em;
	bottom:5px;
	right: 25px;
}
