.my-btn {
	background-color: #5CA8FF;
	border-color: #5CA8FF;
	height:40px;
}
.my-btn:hover {
	background-color: #137BF2;
}


.smallPicture {
	width: 25%;
} 

.mediumPicture {
	width: 33%;
} 

.largePicture {
	width: 50%;
} 

