<div class="container-fluid">
    <div class="my-navbar">
        <div class="nav-div nav-left">
            <a href="#/"><span class="glyphicon glyphicon-home"></span>
            <span class="nav-weak">home</span></a>
        </div>

        <div class="nav-div nav-left" ng-show="!vm.userData.data">
            <a ng-href="#/login"><span>log in</span></a>
        </div>

        <div class="nav-div nav-left" ng-show="vm.userData.data" ng-click="vm.logOut()">
            <a ng-href="#/"><span>log out</span></a>
        </div>

        <div class="nav-div nav-left hello" ng-if="vm.userData.hello">
            <span class="hello">hello! </span>
        </div>

        <div class="nav-div nav-left hello" ng-if="vm.bye">
            <span class="hello">bye bye!</span>
        </div>

        <a href="#/cart"><div class="nav-div nav-right">
            <span>{{vm.cart.itemsAmount}}</span>
            <span class="nav-weak">items in</span>
            <span class="glyphicon glyphicon-shopping-cart glyph"></span>
        </div></a>

        <div class="nav-div nav-right name" ng-if="vm.userData.data">
            <span>{{vm.userData.data.customerDetails.firstName}}</span>
        </div>
    </div>
</div>

