<div class="container">

    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="jumbotron text-center">
        <h1>'Zaloguj!'</h1>
        <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
            Always a pleasure scaffolding your apps.
        </p>
        <br/>
            





          
      <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <br/>
      <input type="text" class="form-control" name="username" placeholder="Login" required autofocus />
      <br/>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>     
      <br/> 
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>  
      <br/> 
      <button class="btn btn-lg btn-primary btn-block" type="submit">don't have account yet ?</button> 
    </form>
  </div>

  <br/>
  <br/>
    
        <button class="btn btn-success btn-lg buy"><a href="#/"><b>  back to shop </b></a></button>
    </div>
</div>