.summary {
	color:#73777A;
}

.summary-bar {
	position: relative;
	left: 30%;
	background-color: #73777A;
	width: 70%;
	height: 8px;
}

.changeAddress {
  margin-top:-5px;
  margin-bottom: 30px;
}

.edit {
  font-size: 20px;
  margin: 5px 0;
  text-align: left;
  border-radius: 5px;
}

#infoForUser {
  margin-bottom: 10px;
  padding:20px;
}

.summaryPanel {
  margin-bottom: 90px;
}
.personalLabel p {
  margin-bottom: 0px;
  margin-top:9px;
  text-align: right
}

.summaryPanel form p{
    margin-top:7px;
    text-align: left;
}

.summaryPanel form input{
    text-align: left;
    float: left;
}
.summaryPanel form button{
  position: relative;
}
.summaryPanel input[type="submit"] {
  visibility: hidden;
}
.personalInfoForm{
  margin-bottom: 30px;
}

