
<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="jumbotron text-center">

        <logo></logo>

        <h1 class="summary" style="color:#8F9294" >Summary</h1>

        <personal-info></personal-info>

        <h2 class="summary">Your products</h2>
        <br/>

        <div class="shop-container" >
        <div class="row" ng-repeat="item in vm.cartItems">
            <div class="col-sm-3 col-xs-6 cart-item">
                <div class="item-div">
                    <div class="cart-image-div">
                    <img class="cart-image" src="{{item.url}}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 cart-item">
                <div class="item-div">
                    <span class="cart-span summary">{{item.amount}} pc.</span>
                </div>
            </div>
            <div class="col-sm-3  col-xs-6 cart-item">
                <div class="item-div">
                    <span class="cart-span summary">{{item.price * item.amount | currency}}</span>
                    <div class="price-per-piece" ng-if="item.amount > 1"><span class="summary">{{item.price | currency}}/pc.</span></div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 cart-item">
            </div>
        </div>
        </div>

          <div class="shop-container" ng-if="vm.cartItems.length>0">
           <div class="summary-bar"></div>
            <div class="row">

            <div class="col-sm-6  col-xs-12 cart-item">
                <div class="item-div">
                <span class="cart-span summary">total cost</span></div>
            </div>
            <div class="col-sm-3  col-xs-6 cart-item">
                <div class="item-div"><span class="cart-span summary"><b>{{vm.sum | currency}}</b></span></div>
            </div>
            <div class="col-sm-3 col-xs-6 cart-item">
                <div class="item-div">
                  <button class="btn btn-success btn-lg cart-buy"
                          ng-click = "vm.buy()"><b>  Buy!  </b></button>
                </div>
            </div>
            </div>
        </div>

        <a href="#/"><button class="btn btn-success btn-lg buy"><b>  Back to shop </b></button></a>
    </div>
</div>


