.summary {
	color:#73777A;
}

.summary-bar {
	position: relative;
	left: 30%;
	background-color: #73777A;
	width: 70%;
	height: 8px;
}

.changeAddress {
  margin-top:80px;
}

.edit {
  font-size: 20px;
  margin: 5px 0;
}


