h2 {
    cursor: default;
}

.shop-container {
    width: 80%;
    margin: auto;
}

@media (max-width: 1200px) {
    .shop-container {
        width: 110%;
    }
}

@media (max-width: 990px) {
    .shop-container {
        width: 80%;
    }
}

.cart-item {
    height: 120px;
    margin: auto;
}

.item-div {
    width: 80%;
    height: 80%;
    margin: auto;
    cursor: default;
}

.cart-image-div {
    height:100%;
    width: 100%;
    background-color: white;
}

.cart-image {
    min-width: 180px;
    height: 100%;
    overflow: hidden;
}

.cart-span {
    position: relative;
    font-size: 3em;
    bottom:-25px;
}

.cart-add-one-item {
    position: relative;
    height:30px;
    width: 30px;
    right:-90%;
    top:-40px;
}

.cart-remove-one-item {
    position: relative;
    height: 30px;
    width: 30px;
    right:-90%;
    top: -20px;
}

.price-per-piece {
    position: relative;
    width:80%;
    height: 30%;
    bottom: -20%;
    margin: auto;
}

.price-per-piece span {
    font-size: 1.3em;
}

.cart-rem {
    font-size: 3em;
    position: relative;
    top:30%;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-remove:hover {
    color: #990303;
}

.glyphicon-triangle-bottom, .glyphicon-triangle-top {
    display:none;
    font-size: 1.5em;
}

.cart-item:hover .glyphicon-triangle-bottom,
.cart-item:hover .glyphicon-triangle-top  {
    display:block;
}

.cart-bar {
    position: relative;
    left: 30%;
    background-color: black;
    width: 70%;
    height: 8px;
}

.cart-buy {
    position: relative;
    bottom:-35%;
}

.empty-cart {
    color:#73777F;
}

